.container
 .banner
 .img
 .text Rishabh Chawla
 -(1..3).each do |i|
  .arrow
 .cards
  .card
   %article
   %center
    %article
     %b Full Stack Developer
    %br
   %article
    Have Tons of experience on flask and SQLalchemy at age of 16 years only
    Front End Can be seen In my various projects and Pens on CodePen.
  .card
   %article
   %center
    %article
     %b Skills
    %br
   %article
    %ul
     %li HTML , CSS & Javascript (includes Preprocessors)
     %li Python Programming and web frameworks
     %li Jinja templating
     %li C++ programming 
     %br
     %small and many more.............
 %br
 %center
  .btn.white
   %i.fa.fa-angle-down
  %article.white &#169; Rishabh
 %br